/* Variables */
$primary_color: #0e1011;
$secondary_color: #f0efef;

/* Layout */
.App {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 1rem;
    background-color: $secondary_color;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr;
    height: 100%;
}

/* Header */
#header {
    background-color: $primary_color;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

/* Posts */
.posts-container {
    margin: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

/* Table */
.table-container {
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid $secondary_color;
}

.table {
    width: 100%;
    border-collapse: collapse;
    
}

.table td,
.table th {
    text-align: left;
    padding: 0.7rem 1rem;
}

.table th {
    background-color: $secondary_color;
    border-top: none;
}

.table tr {
    border-bottom: 1px solid $secondary_color;
}

tr:hover {
    background-color: #f5f5f5;
}

.table td:first-child {
    width: 30%;
}

.table td:last-child {
    width: 70%;
}

.table tr:last-child {
    border-bottom: none;
    td:last-child {
        text-align: right;
    }
}

.table tr:last-child:hover {
    background-color: white;
}

