/* Variables */
// Colors
$primary_color: #0e1011;
$secondary_color: #f0efef;
$tertiary_color: #ffffff;
$hover_color: #f5f5f5;

// Measures
$border_thickness: 0.063rem;

/* Layout */
.App {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 1rem;
    background-color: $secondary_color;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr;
    height: 100%;
}

/* Header */
#header {
    background-color: $primary_color;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

/* Posts */
.posts-container {
    margin: 2rem;
    background-color: $tertiary_color;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

/* Table */
.table-container {
    border-radius: 6px;
    overflow: hidden;
    border: $border_thickness solid $secondary_color;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    text-align: left;
    padding: 0.7rem 1rem;
}

.table th {
    background-color: $secondary_color;
    border-top: none;
}

.table tr {
    border-bottom: $border_thickness solid $secondary_color;
}

tr:hover {
    background-color: $hover_color;
}

.table td:first-child {
    width: 30%;
}

.table td:last-child {
    width: 70%;
}

.table tr:last-child {
    border-bottom: none;
    td:last-child {
        text-align: right;
    }
}

.table tr:last-child:hover {
    background-color: $tertiary_color;
}

/* Alert */
.loading {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
}

.alert-info {
    color: #2020a0;
    background-color: #e0e0ff;
}

.alert-danger {
    color: #a02020;
    background-color: #ffe0e0e0;
}

/* Pagination */
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    border: $border_thickness solid black;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
